<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taegyung.englishvocav3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--첫 메인 화면-->
        <activity android:name="com.example.taegyung.englishvocav3.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--고등부 영어 단어 화면-->
        <activity android:name="com.example.taegyung.englishvocav3.StudyActivity"
            android:screenOrientation="landscape"/>

        <!--단어장 화면-->
        <activity android:name="com.example.taegyung.englishvocav3.NoteActivity"
            android:screenOrientation="landscape"/>
    </application>

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>